asttokens==2.4.1
colorama==0.4.6
decorator==5.1.1
distlib==0.3.8
executing==2.0.1
filelock==3.13.1
ipython==8.21.0
jedi==0.19.1
matplotlib-inline==0.1.6
parso==0.8.3
pbr==6.0.0
platformdirs==4.2.0
prompt-toolkit==3.0.43
pure-eval==0.2.2
Pygments==2.17.2
six==1.16.0
stack-data==0.6.3
stevedore==5.1.0
traitlets==5.14.1
virtualenv==20.25.0
virtualenv-clone==0.5.7
virtualenvwrapper==6.1.0
virtualenvwrapper-win==1.2.7
wcwidth==0.2.13